{% extends "layout.html" %}
{% block content %}
    <style>
        .accordion-toggle:hover {
            text-decoration: none;
        }

        .nav-link {
            border-radius: 0 !important;
        }

        .accordion-heading .accordion-toggle {
            display: block;
            padding: 5px 10px;
            border: 1px;
        }

    </style>


    <div class="content-section">
        <h1>Кабинет {{ place[0] }} ({{ place[1] }})</h1>
    </div>

    <ul class="nav nav-tabs nav-fill" role="tablist">
        {% for weekType in arg.keys() %}
            <li class="nav-item">
                <a class="nav-link {% if loop.index == 1 %}active{% endif %}" data-toggle="tab" href="#{{ loop.index }}"
                   role="tab"><h5>{{ weekType }}</h5></a>
            </li>
        {% endfor %}
    </ul>
    <div class="content-section">
        <div class="tab-content">
            {% for week in arg.values() %} {% set outer_loop = loop.index %}
                <div class="tab-pane {% if loop.index == 1 %}active{% endif %}" id="{{ loop.index }}" role="tabpanel">
                    <div class="accordion-group" id="accordion">

                        {% for day, schedule in week.items() %}
                            <div class="accordion-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                                       href="#week-{{ outer_loop }}-day-{{ loop.index }}">
                                        {{ day }}
                                    </a>
                                </h4>
                            </div>
                            <div id="week-{{ outer_loop }}-day-{{ loop.index }}" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <table class="table table-hover table-bordered">
                                        <tbody>
                                        {% for lesson in schedule %}
                                            <tr>
                                                <td scope="row" width="40%">{{ lesson['title'] }}</td>
                                                <td width="15%">
                                                    {% if lesson['prof'] %}
                                                        <a href="{{ lesson['prof']['URI'] }}">
                                                            {{ "%s %c.%c."% (lesson['prof']['lName'], lesson['prof']['fName'][0], lesson['prof']['mName'][0]) }}
                                                        </a>
                                                    {% endif %}
                                                </td>
                                                <td width="10%">{{ lesson['sTime'] }} <br> {{ lesson['eTime'] }}</td>
                                                <td>[{{ ' '.join(lesson['groups']) }}]</td>
                                                <td>{{ lesson['subject_type'] }}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock content %}