{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
    <h1>Кабинет {{ place[0] }} ({{ place[1] }})</h1>
    </div>
    {% for weekType,week in arg.items() %}
    <div class="content-section">

        <h3>{{ weekType }}</h3>
            <div class="table-responsive-md">
                {% for day, schedule in week.items()%}
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">{{ day }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for lesson in schedule %}
                            <tr>
                                <td scope="row">{{ lesson['title'] }}</td>
                                <td>
                                    {% if lesson['prof'].lName != 'N/A' %}
                                    <a href="{{ url_for('professors.prof_schedule', id=lesson['prof'].id) }}">
                                        {{ "%s %c.%c."% (lesson['prof'].lName, lesson['prof'].fName[0], lesson['prof'].mName[0]) }}
                                    </a>
                                    {% else %}
                                    N/A
                                    {% endif %}
                                </td>
                                <td>{{ lesson['sTime'] }} - {{ lesson['eTime'] }}</td>
                                <td>[{{ ' '.join(lesson['groups']) }}]</td>
                                <td>{{ lesson['subject_type'] }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% endfor %}
            </div>


    </div>
{% endfor %}
{% endblock content %}